<!-- [6.5.2.4] include -->


<!-- HTML 파일을 포함하려면 <%- include(파일 경로, 데이터) %>  -->

<!-- body.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%- include('header') %>
        <div>내용입니다.</div>
        <%- include('footer', { category: 'Node.js'}) %>
    </body>
</html>


<!-- header.ejs -->
<header>헤더입니다.</header>

<!-- footer.ejs -->
<footer>푸터입니다.</footer>


<!-- 
    [참고 사항]
    * Pug의 layout, block 같은 기능을 EJS에서는 지원하지 않음
        ▷ 이 기능을 사용하려면 express-ejs-layouts 패키지를 설치해야 함.
-->


