extends layout

block content
  .timeline
    .followings.half
      h2 팔로잉 목록
      if user.Followings
        for following in user.Followings
          div= following.nick
            //- [9.5.1] 스스로해보기 - 팔로잉 끊기 START ===
            input.twit-fUser-id(type='hidden' value=following.id)
            button.twit-unfollow  언팔로우
            //- [9.5.1] 스스로해보기 - 팔로잉 끊기 END ===
    .followers.half
      h2 팔로워 목록
      if user.Followers
        for follower in user.Followers
          div= follower.nick
  script.
    //- [9.5.1] 스스로해보기 - 팔로잉 끊기 START ===
    document.querySelectorAll('.twit-unfollow').forEach(function (tag) {
      tag.addEventListener('click', function () {
        var isLoggedIn = document.querySelector('#my-id');
        if (isLoggedIn) {
          var userId = tag.parentNode.querySelector('.twit-fUser-id').value;
          var myId = isLoggedIn.value;
          if (userId !== myId) {
            if (confirm('팔로잉하시겠습니까?')) {
              var xhr = new XMLHttpRequest();
              xhr.onload = function () {
                if (xhr.status === 200) {
                  location.reload();
                } else {
                  console.error(xhr.responseText);
                }
              };
              xhr.open('POST', '/user/' + userId + '/unfollow');
              xhr.send();
            }
          }
        }
      });
    });
    //- [9.5.1] 스스로해보기 - 팔로잉 끊기 END ===